.App {
  text-align: center;
  height: 100vh;
  background-color: #282c34;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  display: absolute;
  top: 0;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  margin: 0 1rem 1rem 1rem;
  padding: 1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.diceGrid {
  /* background-color: pink; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.diceGridItem {
  text-align: center; /* Center text horizontally within the item */
  display: flex;
  justify-content: center; /* Center content horizontally within the item */
  align-items: center; /* Center content vertically within the item */
  margin: auto;
}
.button {
  /* color: blue; */
  /* background: pink; */
  height: 3rem;
  width: 3rem;
  background: rgba(0, 0, 0, 0);
  padding: 1px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 0px solid #3498db;
  border-radius: 50%;
  background-color: #08324e;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  max-height: 4rem;
  max-width: 4rem;
  padding: 1rem;
}
.buttonContainer:hover {
  background-color: #ffffff; /* Hover background color */
  color: #3498db; /* Hover text color */
  border-color: #ffffff; /* Hover border color */
}
.diceTitle {
  color: white;
}

@import url("https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap");
.appTitle {
  font-size: 35px;
  font-family: "IM Fell DW Pica", serif;
}

.d12DiceImg,
.d4DiceImg,
.d6DiceImg,
.d10DiceImg,
.d8DiceImg,
.d100DiceImg,
.d20DiceImg {
  height: 150px;
  max-height: 150px;
  width: auto;
  max-width: 150px;
  margin: 0.1rem;
}

/* CSS */
.d100Container {
  position: relative;
}

.d100DiceImg {
  z-index: -1;
}

.d100Display {
  color: white;
  z-index: 1;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  font-family: "IM Fell DW Pica", serif;
}

.playerContainer {
  height: 50vh;
  width: 100%;
}

.Player1 {
  height: 30%;
  width: 100%;
  background-color: #88ab75;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px; /* Rounded corners */
  color: #ffffff; /* Text color */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.Player2 {
  height: 30%;
  width: 100%;
  background-color: #2d93ad;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px; /* Rounded corners */
  color: #ffffff; /* Text color */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  /* Grid Stylings */
}

.rollButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db; /* Border color */
  border-radius: 5px; /* Rounded corners */
  background-color: #3498db; /* Background color */
  color: #ffffff; /* Text color */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.rollButton:hover {
  background-color: #ffffff; /* Hover background color */
  color: #3498db; /* Hover text color */
  border-color: #ffffff; /* Hover border color */
}
